@model Registration.Models.ViewModel

<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script type="text/javascript" charset="utf-8" src="http://cdn.sencha.io/ext-4.2.0-gpl/ext-all.js"></script>
<script type="text/javascript" src="../../UI/scripts/request.js"></script>
<link rel="stylesheet" type="text/css" href="../../UI/css/ext-all.css">
<link rel="stylesheet" type="text/css" href="../../UI/css/ext-all-gray.css">
@*<div id="form-wrapp">
    <div class="menu">
        <span class='input active'>Введення даних</span> <span class='output'>Отримані результати</span>
    </div>
    @using (Html.BeginForm("LogOut", "Home"))
    { 
        <input type="submit" value="logout" class="logout" />
    }
    @using (Html.BeginForm("InsertCompressorCharacter", "Home"))
    {   
        <div class='left-column'>
            @Html.LabelFor(m => m.First.PressIn)
            @Html.TextBoxFor(m => m.First.PressIn)
            @Html.LabelFor(m => m.First.PressOut)
            @Html.TextBoxFor(m => m.First.PressOut)
            @Html.LabelFor(m => m.First.Performance)
            @Html.TextBoxFor(m => m.First.Performance)
        </div>
        <div class='right-column'>
            @Html.LabelFor(m => m.Second.ChooseRodo)
            <select id='Second_ChooseRodo' name='Second.ChooseRodo'>
                <option>First Rodo</option>
                <option>Second Rodo</option>
            </select>
            @Html.RadioButtonFor(m=>m.Second.BushSverd, true)
            @Html.LabelFor(m => m.Second.BushSverd)
            @Html.RadioButtonFor(m => m.Second.BushSverd, false)
        </div>
        <input type="submit" />
    }
    <div class='uploadFile'>
    @using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    { 
        
        <input type="file" name="FileUpload" />
        <input type="submit" name="Submit" id="Submit" value="Upload" />
      
    }
    </div>

    <div class="selectCompr">
        @using (Html.BeginForm("SelectCompressor", "Home"))
        { 
            @Html.TextBoxFor(c => c.First.PressIn)
        }
    </div>
    <div class="clearfix"></div>
    <a href="/Home/History" id='showHistory'>Download History</a>
    <div id="response">
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('.output').click(function () {
            $('#form-wrapp form').hide();
            $('#response').show();
            $('.output').addClass("active");
            $('.input').removeClass("active");

        });
        $('.input').click(function () {
            $('#form-wrapp form').show();
            $('#response').hide();
            $('.input').addClass("active");
            $('.output').removeClass("active");
        });
    });
    $('.selectCompr form').submit(function (event) {
        event.preventDefault();
        @{var baseUrl = @Url.Action("SelectCompressor", "Home");}
         var data = $(".selectCompr form input:first").val();
         $('#form-wrapp form').hide();
            $('#response').empty();
            $('#response').show();

            $('.output').addClass("active");
            $('.input').removeClass("active");
            var response = document.getElementById("response");
            //request('@baseUrl?compressorPress='+data, response ,data);
            $.ajax({
                data: data,
                url: '@baseUrl?compressorPress='+data,
                type: "GET",
                success: function (result) {
                var dataItems = new Array();
                for (var i = 0; i< result.length; i++){
                            dataItems[i] = {
                            html : result[i].PressOut , 
                            width:'100%',
                            height: 200,
                            layout: {
                                type: 'hbox'
                            },
                            bodyStyle: {lineHeight: '160px'},
                            items:[{html:'Type of the compressor', height:180, width: 180,style: { color: '#000',backgroundColor:'#BBB',borderRadius: 20,textAlign: 'center', border: '15px solid #6699CC', margin: 5}, bodyStyle: {background: '#BBB', lineHeight: '120px'}}], 
                            defaultMargins: 10, 
                            flex: 1, 
                            split: true,
                            style: { color: '#000',backgroundColor:'#FFF',borderRadius: 20,textAlign: 'center', border: '5px solid', margin: 5},
                            
                            
                        };
                    }
                        Ext.create('Ext.panel.Panel', {
                        renderTo : response,
                        layout: 'vbox',
                        
                        listeners: {
                            afterrender: function(component){
                                Ext.each(component, function(item){
                                    item = Ext.get(item.id);
                                    item.on('click',function(){this.flex = 2;});
                                });
                            }
                        },
                        componentCls: 'boxes',
                        style:{
                            border: 0
                        },
                        bodyStyle: {
                            background: '#6699CC',
                            padding: '10px'
                        },
                        items:dataItems

                      });
                      
                     }  
                    });
        });
</script>*@
<script>
    Ext.application({
        name: 'MyApp',
        launch: function () {
            Ext.create('Ext.tab.Panel', {
                style: 'margin:100px auto; ',
                width: 600,
                tabBarPosition: 'bottom',
                renderTo: Ext.getBody(),
                items: [{
                    title: 'Введення даних',
                    items: [
                        {
                            xtype: 'button',
                            margin: '20',
                            text: 'Переглянути історію'
                        },
                        {
                            xtype: 'form',
                            padding: '10',
                            layout: 'hbox',
                            items: [
                            {
                               xtype: 'container',
                               items: [
                                    {
                                        xtype: 'textfield',
                                        fieldLabel: 'Тиск на вході',
                                        name: 'first.pressIn'
                                    }, {
                                        xtype: 'textfield',
                                        fieldLabel: 'Тиск на виході',
                                        name: 'first.pressOut'
                                    }, {
                                        xtype: 'textfield',
                                        fieldLabel: 'Enter smth',
                                        name: 'first.power'
                                    }, {
                                        xtype: 'textfield',
                                        fieldLabel: 'Enter smth',
                                        name: 'first.performance'
                                    }, {
                                        xtype: 'combo',
                                        displayField: 'name',
                                        name: 'second.chooseRodo',
                                        fieldLabel: 'Виберіть родовище',
                                        store: Ext.create('Ext.data.Store', {
                                            fields: ['value', 'name'],
                                            data: [{ value: 1, name: 'First' }, { value: 1, name: 'First'}]
                                        })
                                    }, {
                                        xtype: 'container',
                                        width: 200,
                                        fieldLabel: 'Size',
                                        defaultType: 'radiofield',
                                        defaults: {
                                            flex: 1
                                        },
                                        layout: 'hbox',
                                        items: [
                                            {
                                                boxLabel: 'Кущ',
                                                name: 'second.bushSverd',
                                                inputValue: 'kusch',
                                                id: 'radio1'
                                            }, {
                                                boxLabel: 'Свердловина',
                                                name: 'second.bushSverd',
                                                inputValue: 'sver',
                                                id: 'radio2'
                                            }
                                        ]
                             
                                    }
                                ]
                                }, {
	                                xtype: 'container',
	                                items: [
	                                    {
	                                        xtype: 'textfield',
	                                        fieldLabel: 'Тиск на вході',
	                                        name: 'first.pressIn'
	                                    }, {
	                                        xtype: 'textfield',
	                                        fieldLabel: 'Тиск на виході',
	                                        name: 'first.pressOut'
	                                    }
	                                ]
	                              }
                            ],
                            buttons: [
                                { text: 'Submit', handler: function(){this.up('form').submit({
                                    method: 'POST',
                                    url: '/Home/SelectCompressor',
                                    success: function(){
                                    	Ext.getCmp("resultPanel").removeAll(true);
                                        Ext.getCmp("resultPanel").add({
                                            xtype: 'combo',
                                            displayField: 'name',
                                            name: 'second.chooseRodo',
                                            fieldLabel: 'Виберіть родовище',
                                            store: Ext.create('Ext.data.Store', {
                                                fields: ['value', 'name'],
                                                data: [{ value: 1, name: 'First' }, { value: 1, name: 'First'}]
                                            })
                                        });
                                    }
                                })} },
                                { text: 'Cancel' },
                            ]
                           
                        }]
                }, {
                    title: 'Результат',
                    id: 'resultPanel',
                    iconCls: 'user',
                    html: 'Here will be some results'
                }]
            });
        } // launch
    });     // application()
</script>