@model Registration.Models.Database
   <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="http://cdn.sencha.io/ext-4.2.0-gpl/ext-all.js"></script>
    <script type="text/javascript" src="../../UI/scripts/request.js"></script>
    <link rel="stylesheet" type="text/css" href='../../UI/css/main.css' />
    <link rel="stylesheet" type="text/css" href="../../UI/css/ext-all.css">
    <body>
        <script type="text/javascript">
            var body = document.body;
            request('ConvertDataToCSV', body);
        </script>
    </body>
                                                

    


