@model Registration.Models.User
<script type="text/javascript" charset="utf-8" src="http://cdn.sencha.io/ext-4.2.0-gpl/ext-all.js"></script>
<script type="text/javascript" src="../../UI/scripts/request.js"></script>
<link rel="stylesheet" type="text/css" href="../../UI/css/ext-all-gray.css">
<link rel="stylesheet" type="text/css" href="../../UI/css/ext-all.css">
<body>
<script type="text/javascript">
    Ext.create('Ext.form.Panel', {
        width: 300,
        height: 250,
        items: [
            {
                xtype: 'textfield',
                name: 'Name',
                fieldLabel: 'Логін'
            },
            {
                xtype: 'textfield',
                name: 'Password',
                inputType: 'password',
                fieldLabel: 'Пароль'
            },
            {xtype: 'label', text: 'Виберіть роль нового користувача:'},
            {
                xtype: 'radio',
                name: 'role',
                inputValue: 'a',
                fieldLabel: 'Адміністратор',
            },
            {
                xtype: 'radio',
                name: 'role',
                inputValue: 'u',
                fieldLabel: 'Користувач'
            }
        ],
        buttons: [
            {text: 'Submit', handler: function() {
                this.up('form').getForm().submit({
                    url: '/Home/Register',
                    method: 'POST',
                    success: function() {
                        Ext.Msg.alert('','Користувача успішно додано');
                    },
                    failure: function(error) {
                        Ext.Msg.alert('Помилка', 'Користувача успішно додано');
                    }
                });
            }}
        ],
        renderTo: Ext.getBody(),
        style: 'margin: 0 auto'
    });
</script>
</body>