@model Registration.Models.User
@{
    ViewBag.Title = "Register";
}
<link rel="stylesheet" type="text/css" href= "../../UI/css/main.css" />
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script type="text/javascript" charset="utf-8" src="http://cdn.sencha.io/ext-4.2.0-gpl/ext-all.js"></script>
<script type="text/javascript" src="../../UI/scripts/request.js"></script>
<link rel="stylesheet" type="text/css" href="../../UI/css/main.css" />
<link rel="stylesheet" type="text/css" href="../../UI/css/ext-all.css">
<h2>@ViewData["first_name"]</h2>

<script type="text/javascript">
    var form = Ext.create('Ext.form.Panel', {
        title: 'Please login here',
        bodyStyle: 'padding: 10px 5px;',
        width: 300,
        height: 150,
        url: 'WatchDB',
        items: [
            {
                xtype: 'textfield',
                fieldLabel: 'Login',
                name: 'name',
                allowBlank: false
            },
            {
                xtype: 'textfield',
                inputType: 'password',
                fieldLabel: 'Password',
                name: 'Password',
                allowBlank: false
            }
        ],
        buttons: [
            {
                id: 'submitBtn',
                itemId: 'submitBtn',
                text: 'Submit',
                handler: function () {
                    var form = this.up('form').getForm();
                    if (form.isValid()) {
                        form.submit({
                            method: 'POST',
                            success: Ext.Msg.alert('Status', 'Login Successful!', function(btn, text){

                                if (btn == 'ok'){
                                    window.location = '/';
                                }
                            })
                },
                            failure: function (form, action) {
                                Ext.Msg.alert('Failed', action.result ? action.result.message : 'No response');
                            }
                        });
                    }
                    else {
                        Ext.Msg.alert('Error', 'Enter valid data!');
                    }
                }
            }
        ],
        defaults: {
            listeners: {
                specialkey: function (field, event) {
                    if (event.getKey() == event.ENTER) {
                        if (field.up('form').getForm().isValid()) {
                            field.up('form').getForm().submit();
                        }
                        else {
                            Ext.Msg.alert('Error', 'Enter valid data!');
                        }
                    }
                }
            }
        }
    });
        Ext.create('Ext.container.Container', {
            renderTo: document.body,
            style: 'padding-top: 40px;',
            layout: { type: 'hbox', pack: 'center' },
            items: [form]
        });
        delete Ext.tip.Tip.prototype.minWidth;
        Ext.QuickTips.init();
</script>