@model Registration.Models.User
@{
    ViewBag.Title = "Register";
}
<link rel="stylesheet" type="text/css" href= "../../UI/css/main.css" />
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script type="text/javascript" charset="utf-8" src="http://cdn.sencha.io/ext-4.2.0-gpl/ext-all.js"></script>
<script type="text/javascript" src="../../UI/scripts/request.js"></script>
<link rel="stylesheet" type="text/css" href="../../UI/css/ext-all.css">
<link rel="stylesheet" type="text/css" href="../../UI/css/ext-all-gray.css">
<body>
    <script type="text/javascript">
        Ext.create('Ext.form.Panel', {
            width: 300,
            height: 100,
            defaultType: 'textfield',
            items: [
                {
                    name: 'Name',
                    fieldLabel: 'Name'
                }, {
                    name: 'Password',
                    inputType: 'password',
                    fieldLabel: 'Password'
                }
            ],
            buttons: [
                { text: 'Login', handler: function () {
                    var form = this.up('form').getForm();
                    Ext.getBody().mask('Please wait...');
                    form.submit({
                        method: 'POST',
                        url: '/Home/WatchDB',
                        success: function (resp, result) {
                            location.href = result.result.url;
                            Ext.getBody().unmask();
                        },
                        failure: function (response) {
                            Ext.getBody().unmask();
                        }
                    });
                }
                },
                { text: 'Cancel', handler: function () { this.up('form').getForm().reset(); } }
            ],
            renderTo: Ext.getBody()
        });
    </script>
</body>